
/*Footer Css*/

.footer{
	
	background:#454545;	
	padding:2% 0;		
	
	}

.footer h3 span{
	
	color:#fff;
	border-bottom:2px solid #fff;
	
	}
	
.footer ul{
	
	padding:0;;
	
	}

.footer ul li{
	
	list-style-type:none;
	
	}	
	
	
.footer ul li a{
	
	color:#ffffff;
	
	}	



/*SideBar Category Css*/
.category-area{
	
	background:#e7e7e7;
	padding:12px;
	
	}

/*.cat-inner h3{display:none;}*/
.cat-inner ul{margin-top:2%; padding:0;}
.cat-inner ul li{list-style-type:none;}
.cat-inner ul li a{
	display: block;
    padding: 12px;
    /*border-left: 2px solid #fff;*/
    margin-top: 6px;
    text-decoration: none;
    background: aliceblue;
	}

.cat-inner ul li a:hover,
.cat-inner ul li a:focus{border-left: 2px solid #337ab7;}

.category-area .nav-tabs{border-bottom: 2px solid #337ab7 !important;}
.category-area .nav-tabs>li>a{border-radius:0px !important;}

.category-area .nav-tabs>li.active>a, .category-area .nav-tabs>li.active>a:focus, .category-area .nav-tabs>li.active>a:hover{

	border:none !important;
		
	}

.category-area .nav-tabs>li>a:hover {
     border-color:transparent !important;
}

.category-area .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}
.category-area .nav>li>a:focus{background-color: #fff !important;}
.category-area .nav>li>a:active{background-color: transparent !important;}

/*End SideBar Category Css*/



/*About the Auther CSS*/
.about-author{background: #e5f5fa; padding:15px;}
.about-author img{display:block; margin-left:auto; margin-right:auto;}
.description{border-left: 4px solid #3c763d !important;}
.about-author .description p{font-size:16px;}


/*Footer-Callout Editable Area CSS*/
.footer-callout{background:#F96; padding:2% 0; clear:both;}
.footer-callout-all{background: black; padding: 15px; border-left: 4px solid #fff;}



/* ## User Comments
--------------------------------------------- */
.comment-respond,
.entry-pings,
.entry-comments {
    color: #444;
    padding: 2% 4% 4% 4%;
    border: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    border-left: 4px solid #444;
}
.entry-comments h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.comment-respond h3,
.entry-pings h3{
	font-size: 20px;
	margin-bottom: 30px;
}
.comment-respond {
	padding-bottom: 5%;
	margin: 20px 1px 20px 1px;
	border-left: none !important;
	background:#e5e5e5;
}
.comment-header {
	color: #adaeb3;
	font-size: 14px;
	margin-bottom: 20px;
}
.comment-header cite a {
	border: none;
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
}
.comment-header .comment-meta a {
	border: none;
	color: #adaeb3;
}

.comment-section ul{list-style-type:none; padding:0;}

li.comment {
	background-color: #fff;
	border-right: none;
}
.comment-content {
	clear: both;
	overflow: hidden;
}
.comment-list li {
	font-size: 14px;
	padding: 20px 30px 20px 50px;
}
.comment-list .children {
	margin-top: 40px;
	border: 1px solid #ccc;
}
.comment-list li li {
	background-color: #f5f5f6;
}
.comment-list li li li {
	background-color: #fff;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}
.entry-comments .comment-author {
	margin-bottom: 0;
	position: relative;
}
.entry-comments .comment-author img {
	border-radius: 50%;
	border: 5px solid #fff;
	left: -80px;
	top: -5px;
	position: absolute;
	width: 60px;
}
.entry-pings .reply {
	display: none;
}
.bypostauthor {
}
.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	padding: 24px;
}
.comment-reply-link{
    cursor: pointer;
    background-color: #444;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 4px 10px 4px;
    text-transform: uppercase;
    width: auto;
}
.comment-reply-link:hover{
    color: #fff;
}
.comment-notes{
    display:none;   
}



/*Comment Form*/


.comment-notes { background:#e5e5e5;}
.required { background:#e5e5e5;}
.comment-form-author { background:#e5e5e5;}
.comment-form-author label{ display:inline; margin:0;}
.comment-form-email { background:#e5e5e5;}
.comment-form-email label{ display:inline; margin:0;} 
.comment-form-url {background:#e5e5e5; }
.comment-form-comment{padding:0 15px;}
.comment-form-comment textarea
{ 
	background:#e5e5e5;
	resize:none;
	display: block;
    width: 100%;
    height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	
} 
.form-allowed-tags { background:#e5e5e5;} 
.form-submit{background:#e5e5e5; clear:both; padding:0 15px; float:right;}



/*Slider Carasoul Controls Css*/


@media(min-width:240px){
.custom-carousel-control.left span{top: 50% !important; left: 50% !important;}
.custom-carousel-control.left 
{
   
    background: black;
    display: block;
    width: 40px;
    height: 40px;
	top:inherit;
}

.custom-carousel-control.right span{top: 50% !important; right: 50% !important;}
.custom-carousel-control.right 
{
   
    background: black;
    display: block;
    width: 40px;
    height: 40px;
	top:inherit;
}
}

@media(min-width:768px){
.custom-carousel-control.left span{top: 40% !important; left: 40% !important;}
.custom-carousel-control.left 
{
   
    background: black;
    display: block;
    width: 60px;
    height: 60px;
}

.custom-carousel-control.right span{top: 40% !important; left: 25% !important;}
.custom-carousel-control.right 
{
   
    background: black;
    display: block;
    width: 60px;
    height: 60px;
}
}
/*<--End Slider Carasoul Controls Css*/



/*Responsive Videos*/
.video-area div{width:auto !important;}
.wp-video-shortcode {
  max-width:100%;
  height: auto;
}


/*Image Gallery*/

.featured .thumbnails{padding:0px;}
.featured .thumbnails li{
	
	list-style-type:none;
		
	}

@media(min-width:240px){
.featured .featured-carousel-control.left span{top: 50% !important; left: 50% !important;}
.featured .featured-carousel-control.left 
{
   
    background: black;
    display: block;
    width: 30px;
    height: 30px;
	top:70px;
}

.featured .featured-carousel-control.right span{top: 50% !important; right: 50% !important;}
.featured .featured-carousel-control.right 
{
   
    background: black;
    display: block;
    width: 30px;
    height: 30px;
	top:70px;	
}
}

@media(min-width:768px){
.featured .featured-carousel-control.left span{top: 40% !important; left: 40% !important;}
.featured .featured-carousel-control.left 
{
   
    background: black;
    display: block;
    width: 30px;
    height: 30px;
	top:70px;
}

.featured .featured-carousel-control.right span{top: 40% !important; left: 25% !important;}
.featured .featured-carousel-control.right 
{
   
    background: black;
    display: block;
    width: 30px;
    height: 30px;
	top:70px;
}
}

/*<--EndImage Gallery*/



/*Table Description css*/

.table {border: 1px solid #ddd;}
.table tr {background:#cadcec !important;}
.table tr th {border-right: 1px solid #ddd;}


/*Gallery*/
.gallery-item img{max-width:100%; height:auto; border:1px solid #e5e5e5 !important;}


/*Carousel Slide Bullet indicators*/

#featured1 .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;   
    background-color: rgba(0,0,0,0);
    border: 1px solid #221a13;
    border-radius: 10px;
}

#featured1 .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #221a13;
}

#featured1 .carousel-indicators{bottom:10px;}



/*Sticky Video Area*/

@media(min-width:240px){
.fixed-video{
	position:relative;
	top:0;
	max-width:100%;
	width:inherit;	
	}
}

@media(min-width:768px){
.fixed-video{
	position:fixed;
	top:0;
	max-width:100%;
	width:inherit;	
	}
}

/*Contact Form Css*/


/* form starting stylings ------------------------------- */
.contactus-section .group {
    position: relative;
    margin-bottom: 35px;
}

.contactus-section input {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}

    .contactus-section input:focus {
        outline: none;
    }

/* LABEL ======================================= */
.contactus-section label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.contactus-section input:focus ~ label, .contactus-section input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #fff;
}

/* BOTTOM BARS ================================= */
.contactus-section .bar {
    position: relative;
    display: block;
    width: 100%;
}

    .contactus-section .bar:before, .contactus-section .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #fff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .contactus-section .bar:before {
        left: 50%;
    }

    .contactus-section .bar:after {
        right: 50%;
    }



/* active state */
.contactus-section input:focus ~ .bar:before, .contactus-section input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.contactus-section .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.contactus-section input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}


.contactus-section #panel {
	padding:30px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* Standard syntax (must be last) */
    
    
    border-radius: 4px;
    top: 50px;
}













