/*----------------------------------
 Reset the elements in all browsers
---------------------------------*/

html{width: 100%;}
body{font-size: initial; line-height: normal; height: auto;  margin: 0;	padding: 0;	border: 0; font-family: 'Nunito', sans-serif; color: #646465; text-rendering: optimizeLegibility; background: #646465;}

html,body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: normal;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}


@media(min-width:240px){
.wrapper{
	position:relative;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	background: #ffffff;
	height:auto;
	overflow:hidden;
}
}
@media(min-width:768px){
.wrapper{
	width:320px;
}
}


.sidenav{
	position:absolute; 
	top:0px; 
	left:-286px;
	z-index:99; 
	background:#ffffff; 
	width:250px;
	height: 100%;
	transition: ease 0.5s all;
}

.sidenav.openbar{
	left:0;
}

.navmenu-links a.apphead-item, 
.navmenu-links a.cat-head{
	text-decoration: none;
	color: #222222;
	font-size:16px;
}

.navmenu-links a.cat-head{
padding:10px 15px;
display:block;
border-bottom:1px solid #ccc;
}


.innernav li{list-style:none;}

.innernav li a {
	text-decoration: none;
	color: #555555;
	display:block;
    padding-bottom: 12px;
	font-size: 14px;
	padding:10px 30px;
}

/*==--Arrow Management---==*/
.relative{position:relative;}

.sidenav.openbar .caret-icon::after{
	position: absolute;
	right: 15px;    
    top: 20px;
	vertical-align: .12em;
    content: "";
	display:inline-block;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
    margin-left: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.caret-icon.ishow::after
{	
    vertical-align: .12em;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

a.cross-icon{
	font-size: 24px;
    position: absolute;
    right: -35px;
    background: #ffffff;
    padding: 0 10px;
    color: #2d2d2d;
	text-decoration:none;
}

/*==--Arrow Management End---==*/



.notification{
	background: #ffffff;
	position: absolute;
    width: 200px;
    right: 0px;
	top: 30px;
	z-index:9;
	box-shadow: 0 0 10px 1px #454545;
}
a.noti-msg{
	display:block;
	padding:10px 15px;	
	text-decoration:none;
	color: inherit;
}
a.noti-msg .msg-head,a.noti-msg .noti-time{
	font-size:14px;
	font-weight: 600;
}

a.noti-msg .msg-desc{
	font-size:12px;
	font-weight: 400;
}

#cart a.noti-msg .noti-time{
	color: #f39215;
}

	
header{
	background: #7dc33c;
	padding: 10px 0 0px 0;
    border-radius: 0 0 35px 35px;
}

header .minus-mrgin{
	margin-bottom:-30px;
}

header a.nav-icon,
.daynight-btn a.base-btn{
	text-decoration:none;
}

header a.nav-icon,
header a.nav-icon:hover,
header a.nav-icon:focus{	
	color: #ffffff;
	font-size: 22px;
}

header .media-body p{
	font-size:18px;
	color: #ffffff;
}

.base-btn{
	color: #2a2d2e;
    text-decoration: none;
    display: inline-block;
    border-radius: 150px;
    background: #ffffff;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    line-height: normal;
    outline: none;
    box-shadow: none;
    font-size: 12px;    
}
.base-btn:hover,
.base-btn:focus{
	text-decoration:none;
	outline:none;
}

.daynight-btn a.base-btn-outline{
	background: transparent;
	color: #2b3232;
	border: 1px solid #2b3232;
	padding: 5px 15px;
    border-radius: 50px;
	box-shadow: none;
    outline: none;
	font-size: 14px;
}

.daynight-btn a.base-btn-outline:hover,
.daynight-btn a.base-btn-outline:focus{
	background:#2b3232;
	color: #ffffff;

}
.daynight-btn a.base-btn-outline.active{
	background: #343a40;
	color: #ffffff;
}

.s1 .swiper-wrapper{
	padding: 15px 0px;
}

a.month{
	width:50px;
	height:50px;
	background:#ffffff;
	border-radius:5px;
	font-size:14px;
	padding:6px;
	text-align:center;
	display:block;
	text-decoration:none;
	box-shadow:0 0 10px 1px #454545;
}

a.month:hover,
a.month:focus{
	background: #2b3232;
}

a.month.active{
	background: #2b3232;
}

a.month .month-day{
	color: #646465;
	text-transform:uppercase;
}
a.month .month-date{
	color: #7dc33c;
}

a.month:hover .month-day,
a.month:focus .month-day,
a.month:hover .month-date,
a.month:focus .month-date{
	color: #ffffff;
}

a.month.active .month-day,
a.month.active .month-date{
	color: #ffffff;
}


/*---------------------------------
Header CSS
---------------------------------*/




/*---------------------------------
 Section #1 Banner CSS
---------------------------------*/


.search-location input[type="text"],
.search-location input[type="text"]:hover,
.search-location input[type="text"]:focus{
	outline: none;
    box-shadow: none;
	transition: none;
    border: 1px solid #ced4da;    
}

.search-btn,
.search-btn:hover,
.search-btn:focus{
	background: #7dc33c;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
	color:#ffffff;
	outline:none;	
	width:100%;
}


a.slider-btn-outline{
	background: transparent;
	color: #f39215;
	border: 1px solid #f39215;
	padding: 5px 15px;
    border-radius: 5px;
	font-size: 14px;
	width:100%;
	display:block;
	text-decoration:none;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.slider-btn-outline:hover,
a.slider-btn-outline:focus{
	background:#f39215;
	color: #ffffff;

}
a.slider-btn-outline.active{
	background: #f39215;
	color: #ffffff;
}





.foodbox img{
	border-radius:5px 5px 0 0;
}
.foodbox .food-text{
	padding: 5px;
	background: #f6f6f6;
	border-radius:0 0 5px 5px;
}
.foodbox .food-text .description{
	font-size:12px;
}

.foodbox .food-text .pirce{
	font-size:12px;
	font-weight:800;
}
.foodbox .food-text .pirce img{
	max-height:12px;
}

.add-cart-btn{
	background:transparent;
	padding:3px 5px;
	border:1px solid #7dc33c;
	color: #7dc33c;
}

.add-cart-btn span{display:inline-block;}
.add-cart-btn span+span{	
	width:10px;height:10px;
	border:1px solid #7dc33c;
	border-radius:50%;
}
.add-cart-btn.addplus span+span:after{
	content:'+';
	color:#7dc33c;
	position:absolute;
	top:0;
	right:0;
	top: 3px;
    right: 7px;
    font-size: 10px;
}



footer{
	background:#7dc33c;
	padding:10px 0;
	text-align:center;
}
footer .footer-text{
	font-size:12px;
	color:#2b3232;
}

.btmtotop,
.btmtotop:hover,
.btmtotop:focus {
	position: absolute;
    display: inline-block;
    background: #7dc33c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    margin-top: -25px;
    color: #2b3232;
    left: 0;
    right: 0;
    margin: auto;
    top: -22px;
}

/*---------------------------------
 Section #2 Footer CSS
---------------------------------*/


